.nav-mob-open {
  display: none;
}

.nav-mob-close {
  display: none;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .nav-mob-open {
    display: block;
  }

  .nav-menu {
    transform: translateX(100%);
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .nav-menu a {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .navbar > div:last-child {
    margin-left: auto;
  }
}
